
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Groet</title>
</head>
<body>
    <h2>Index</h2>
    <a asp-controller="Home" asp-action="Groenten">Groenten</a>
    <a asp-controller="Home" asp-action="Groenten">Groenten</a>

</body>
</html>
